<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.RegisterAnAccountTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddItemFromTshirts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RegisterAnAccountSuccessfully</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyUserCanCheckout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddItemFromSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyItemIsDeleted</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddItemFromWomenCategory</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ScreenhotFailure</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
