<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f9eccc">  <td>21/07/16 20:48:20</td>   <td>0</td> <td title="&gt;&gt;TestBase.before()[pri:0, instance:tests.RegisterAnAccountTest@3e3047e6]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="b7d96a">  <td>21/07/16 20:48:30</td>   <td>9936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterAnAccountTest.RegisterAnAccountSuccessfully()[pri:1, instance:tests.RegisterAnAccountTest@3e3047e6]">RegisterAnAccountSuccessfully</td> 
  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="f9eccc">  <td>21/07/16 20:48:42</td>   <td>21942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.ScreenhotFailure(org.testng.ITestResult)[pri:0, instance:tests.RegisterAnAccountTest@3e3047e6]">&lt;&lt;ScreenhotFailure</td> 
<td>&nbsp;</td>  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="b7d96a">  <td>21/07/16 20:48:42</td>   <td>21943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterAnAccountTest.AddItemFromSearch()[pri:2, instance:tests.RegisterAnAccountTest@3e3047e6]">AddItemFromSearch</td> 
  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="f9eccc">  <td>21/07/16 20:48:50</td>   <td>29745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.ScreenhotFailure(org.testng.ITestResult)[pri:0, instance:tests.RegisterAnAccountTest@3e3047e6]">&lt;&lt;ScreenhotFailure</td> 
<td>&nbsp;</td>  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="b7d96a">  <td>21/07/16 20:48:50</td>   <td>29745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterAnAccountTest.AddItemFromWomenCategory()[pri:3, instance:tests.RegisterAnAccountTest@3e3047e6]">AddItemFromWomenCategory</td> 
  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="f9eccc">  <td>21/07/16 20:48:57</td>   <td>36182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.ScreenhotFailure(org.testng.ITestResult)[pri:0, instance:tests.RegisterAnAccountTest@3e3047e6]">&lt;&lt;ScreenhotFailure</td> 
<td>&nbsp;</td>  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="b7d96a">  <td>21/07/16 20:48:57</td>   <td>36183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterAnAccountTest.AddItemFromTshirts()[pri:4, instance:tests.RegisterAnAccountTest@3e3047e6]">AddItemFromTshirts</td> 
  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="f9eccc">  <td>21/07/16 20:49:05</td>   <td>44280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.ScreenhotFailure(org.testng.ITestResult)[pri:0, instance:tests.RegisterAnAccountTest@3e3047e6]">&lt;&lt;ScreenhotFailure</td> 
<td>&nbsp;</td>  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="b7d96a">  <td>21/07/16 20:49:05</td>   <td>44280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterAnAccountTest.verifyItemIsDeleted()[pri:5, instance:tests.RegisterAnAccountTest@3e3047e6]">verifyItemIsDeleted</td> 
  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="f9eccc">  <td>21/07/16 20:49:10</td>   <td>49363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.ScreenhotFailure(org.testng.ITestResult)[pri:0, instance:tests.RegisterAnAccountTest@3e3047e6]">&lt;&lt;ScreenhotFailure</td> 
<td>&nbsp;</td>  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="b7d96a">  <td>21/07/16 20:49:10</td>   <td>49363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegisterAnAccountTest.verifyUserCanCheckout()[pri:6, instance:tests.RegisterAnAccountTest@3e3047e6]">verifyUserCanCheckout</td> 
  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="f9eccc">  <td>21/07/16 20:49:17</td>   <td>57036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.ScreenhotFailure(org.testng.ITestResult)[pri:0, instance:tests.RegisterAnAccountTest@3e3047e6]">&lt;&lt;ScreenhotFailure</td> 
<td>&nbsp;</td>  <td>main@707976812</td>   <td></td> </tr>
<tr bgcolor="f9eccc">  <td>21/07/16 20:49:18</td>   <td>57315</td> <td title="&lt;&lt;TestBase.quitBrowser()[pri:0, instance:tests.RegisterAnAccountTest@3e3047e6]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@707976812</td>   <td></td> </tr>
</table>
